<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/app/static/bulma.0.9.4.min.css">
    <link rel="stylesheet" href="/app/static/bulma-prefers-dark.0.1.0-beta.1.css">

    {{if .Title}}
    <title>{{.Title}}</title>
    {{else}}
    <title>Dragonlink</title>
    {{end}}
  </head>
  <body>
    {{inner}}
  </body>
</html>
